@font-face {
  /*重命名字体名*/
  font-family: 'semibold';
  /*引入字体*/
  src: url(../font/DINPro-Bold.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /*重命名字体名*/
  font-family: 'DINCond';
  /*引入字体*/
  src: url(../font/DINCond-Medium.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /*重命名字体名*/
  font-family: 'Medium';
  /*引入字体*/
  src: url(../font/DINPro-Medium.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /*重命名字体名*/
  font-family: 'Regular';
  /*引入字体*/
  src: url(../font/DINPro-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /*重命名字体名*/
  font-family: 'PangMenZhengDao';
  /*引入字体*/
  src: url(../font/庞门正道标题体3.0.ttf);
  font-weight: normal;
  font-style: normal;
}